
<mat-toolbar color="primary"  style="position: fixed; left: 0; right: 0;  top: 0; box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); ">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>







<mat-toolbar color="primary">
  <mat-toolbar-row  style="width: 100%; height: 300px;">
  </mat-toolbar-row>
</mat-toolbar>



<router-outlet></router-outlet>



<!-- <footer color="primary" >
  <h3 style="text-align: center;">Footer testing...</h3>
</footer> -->